{% extends "booklist/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="mb-5">
    <a href="{% url 'book_list' %}" class="btn btn-secondary btn-lg px-4">Back to List</a>
</div>
    

<form action="" method="POST" autocomplete="off">
    {%csrf_token%}
    
    {{form.title|as_crispy_field}}
    {{form.author|as_crispy_field}}
    <div class="row">
        <div class="col-md-4">
            {{form.numpages|as_crispy_field}}
        </div>
        <div class="col-md-4">
            {{form.datepublished|as_crispy_field}}
        </div>
        <div class="col-md-4">
            {{form.booktype|as_crispy_field}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <button type="submit" class="btn btn-success btn-block">Submit</button>
        </div>
       

    </div>
    
        
    
</form>

{% endblock content %}